@import './variables.scss';

.about {
  // width: 90%;
  margin: $component-margin auto;
  display: flex;
  flex-direction: column;
  padding: $component-margin * 2;
  border-radius: $card-border-radius;
  background-color: $background-color;
  border: none;

  &__title-main {
    margin-bottom: $component-margin;
    margin: 50px 0px;
  }
  &__title-main--span {
    color: $success-color;
    font-family: 'Lora';
    font-style: italic;
  }
  &__subtitle {
    margin-bottom: $component-margin/2;
    color: $success-color;
  }
  &__text {
    margin: 0 0 $component-margin 0;
    font-family: 'Lora';
  }
  &__item {
    font-size: 1.3rem;
    margin: $component-margin 0 $component-margin/2 0;
  }
  &__link-inline {
    position: relative;
    font-weight: 600;
    color: $success-color;
  }

  &__link-inline::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 100%;
    height: 2px;
    background-color: $success-color;
    transform-origin: left;
    transform: scaleX(0);
    transition: transform 0.3s ease-in;
  }

  &__link-inline:hover::after {
    transform: scaleX(1);
    color: $success-color;
  }
  &__email,
  &__messagecontainer {
    width: 100%;
    padding: 8px;
    border: 1px solid $card-border-color;
    border-radius: 3px;
    margin-top: 16px;
    display: flex;
    flex-direction: row;
    background: white;
  }
  &__send {
    align-self: flex-end;
  }
  &__message {
    flex-grow: 1;
    border: none;
  }
}
