@import './variables.scss';

.display {
  padding-top: $component-margin * 2;

  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  background-color: $background-color;
  &__heading {
    margin: $component-margin $component-margin $component-margin/2 0;
    align-self: flex-start;
    font-size: $title-h3-font-size;
  }
  &__avatarbox {
    position: relative;
    overflow: hidden;
    border-radius: 20px;
    width: 40%;
    max-width: 240px;
    cursor: pointer;
  }
  &__collabimagebox {
    width: 100%;
    height: 250px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    // padding-top: 30%;
    overflow: hidden;
  }
  &__collabbody:not(p) {
    margin-top: -7%;
    background: $background-color;
    padding-top: 1px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
  }
  &__picture {
    width: 100%;
  }
  &__name {
    margin-top: $component-margin;
    font-size: $title-h3-font-size;
    font-weight: $regular-font-weight;
  }
  &__collabtitle {
    margin-top: 20px;
    font-size: 2em;
    align-self: stretch;
  }
  &__categories {
    display: flex;
    padding: 0px 30px;
    max-width: 60%;
    min-width: 150px;
    margin-top: 30px;
  }
  &__category {
    // placeholder 👇
    font-family: inherit;
  }
  &__title {
    max-width: 75%;
    font-size: $title-h2-font-size;
    margin-top: $component-margin;
  }
  &__sociallinks {
    font-size: 1.6em;
    margin-top: $component-margin;
    > * {
      margin: 0 $component-margin;
    }
    svg {
      fill: $primary-font-color;
    }
  }
  &__bullets[class] {
    margin-top: $component-margin;
    width: 100%;
    background: $box-info-color;
    border-radius: $card-border-radius;
    padding: $component-margin;
    font-size: 1rem;
    h3 {
      margin-bottom: 10px;
      &:not(:first-child) {
        padding-top: 10px;
      }
    }
    > :last-child {
      margin-bottom: 0px;
    }
    ul:last-child > li:last-child {
      margin-bottom: 0px;
    }
  }
  &__bullet {
    margin-bottom: 12px;
    width: 100%;
    .bulleticon {
      display: inline-block;
      width: 35px;
      text-align: center;
      // margin-right: 12px;
    }
  }
  &__fullwidth {
    align-self: flex-start;
    width: 90%;
  }
  &__bio {
    align-self: stretch;
  }
  &__badge {
    background-color: $btn-primary-background;
    border-radius: $btn-primary-radius;
    color: $btn-primary-font-color;
    padding: 4px 8px;
    margin: 0 $component-margin/4 $component-margin/2 $component-margin/4;
  }
  &__badgelist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__portfolioitem,
  &__collabcard {
    border: 1px solid $card-border-color;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: $component-margin;
  }
  &__portfoliotext {
    background: $white-background-color;
    padding: $component-margin;
  }

  &__collabcarddescription {
    padding: 0 $component-margin $component-margin $component-margin;
  }

  &__collabcardtitle {
    padding: $component-margin $component-margin 0 $component-margin;
  }

  &__portfoliodescription,
  &__portfoliolink {
    padding-top: 15px;
  }

  // collab page
  &__collabroles,
  &__description,
  &__skillsneeded {
    align-self: stretch;
  }
}

.svg-inline--fa {
  color: $primary-font-color;
}

@media (min-width: 768px) {
  .display {
    &__collabbody:not(p) {
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
    }
  }
}
