@import './variables.scss';

.badge {
  background: #efefef;
  border: 1px solid #eee;
  border-radius: 1em;
  padding: 5px 15px;
  margin: 5px;
}

.profile {
  padding-top: $component-margin * 2;
  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  &__heading {
    margin-top: 30px;
    align-self: flex-start;
  }
  &__avatarbox {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 20px;
    width: 50%;
    max-width: 240px;
    cursor: pointer;
  }
  &__picture {
    width: 100%;
  }
  &__name {
    margin-top: $component-margin;
    font-size: $title-h3-font-size;
    font-weight: $regular-font-weight;
  }
  &__collabtitle {
    margin-top: 20px;
    font-size: 2em;
    align-self: stretch;
  }
  &__categories {
    display: flex;
    padding: 0px 30px;
    max-width: 60%;
    min-width: 150px;
    margin-top: 30px;
  }
  &__category {
    // placeholder 👇
    font-family: inherit;
  }
  &__title {
    max-width: 60%;
    font-size: $title-h2-font-size;
    margin-top: 30px;
  }
  &__sociallinks {
    margin-top: 30px;
    > * {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  &__bullets[class] {
    margin-top: 30px;
    width: 100%;
    background: #e0e0e0;
    padding: 30px;
    padding-left: 35px;
  }
  &__bullet:before {
    content: '•';
    margin-left: -5px;
    margin-right: 5px;
  }
  &__skills {
    align-self: stretch;
  }
  &__bio {
    align-self: stretch;
  }
  &__portfolioitem,
  &__collabcard {
    border: 1px solid grey;
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 20px;
    margin-top: 20px;
  }
  &__portfoliodescription,
  &__portfoliotitle,
  &__portfoliolink,
  &__collabcardtitle,
  &__collabcarddescription {
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;
  }
  // collab page
  &__collabroles,
  &__description,
  &__skillsneeded {
    align-self: stretch;
  }
}
