@import './variables.scss';

.display--collab {
  margin-top: $component-margin;
}

.display {
  padding-top: $component-margin * 2;

  margin-bottom: 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;

  background-color: $background-color;
  &__heading {
    margin-top: $component-margin;
    align-self: flex-start;
  }
  &__avatarbox {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    border-radius: 20px;
    width: 240px;
    height: 240px;
    max-width: 240px;
    cursor: pointer;
  }
  &__collabimagebox {
    width: 100%;
    height: 0px;
    box-sizing: border-box;
    background-size: cover;
    background-position: center center;
    padding-top: 30%;
    overflow: hidden;
  }
  &__collabbody:not(p) {
    margin-top: -7%;
    background: $background-color;
    // border-top-right-radius: 5px;
    // border-top-left-radius: 5px;
    padding-top: 1px;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
  }
  &__picture {
    width: 100%;
  }
  &__name {
    margin-top: $component-margin;
    font-size: $title-h3-font-size;
    font-weight: $regular-font-weight;
  }
  &__collabtitle {
    margin-top: 20px;
    font-size: 2em;
    align-self: stretch;
  }
  &__categories {
    display: flex;
    padding: 0px 30px;
    max-width: 60%;
    min-width: 150px;
    margin-top: 30px;
  }
  &__category {
    // placeholder 👇
    font-family: inherit;
  }
  &__title {
    max-width: 60%;
    font-size: $title-h2-font-size;
    margin-top: 30px;
  }
  &__sociallinks {
    font-size: 1.6em;
    margin-top: 30px;
    > * {
      margin-left: 10px;
      margin-right: 10px;
    }
  }
  &__bullets[class] {
    margin-top: $component-margin;
    width: 100%;
    background: $box-info-color;
    border-radius: $card-border-radius;
    padding: 30px;
    padding-left: 35px;
    font-size: 1.1em;
    h3 {
      margin-bottom: 10px;
      &:not(:first-child) {
        padding-top: 10px;
      }
    }
    > :last-child {
      margin-bottom: 0px;
    }
    ul:last-child > li:last-child {
      margin-bottom: 0px;
    }
  }
  &__bullet {
    margin-bottom: 12px;
    width: 100%;
    .bulleticon {
      display: inline-block;
      width: 35px;
      text-align: center;
      // margin-right: 12px;
    }
  }
  &__fullwidth {
    align-self: flex-start;
    width: 100%;
  }
  &__bio {
    align-self: stretch;
  }
  &__badge {
    background: #efefef;
    border: 1px solid #eee;
    border-radius: 1em;
    padding: 5px 15px;
    margin: 5px;
  }
  &__badgelist {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }
  &__portfolioitem,
  &__collabcard {
    border: 1px solid $card-border-color;
    border-radius: 20px;
    overflow: hidden;
    margin-top: 20px;
  }
  &__portfoliotext {
    // background: pink;
    padding: 20px;
  }
  &__portfoliodescription,
  &__portfoliolink {
    padding-top: 15px;
  }

  // collab page
  &__collabroles,
  &__description,
  &__skillsneeded {
    align-self: stretch;
  }
  .svg-inline--fa {
    color: #383838;
  }
}

@media (min-width: 768px) {
  .display {
    &__collabbody:not(p) {
      border-top-right-radius: 3px;
      border-top-left-radius: 3px;
    }
  }
}
