@import '/variables';

.input--hidden {
  display: none;
}

.display__portfolioitem {
  input,
  textarea {
    width: 94%;
    margin-left: 3%;
    margin-right: 3%;
  }
}

.display,
.display__portfolioitem {
  label {
    cursor: pointer;
  }
  & input,
  textarea,
  select {
    border: none;
    cursor: pointer;
    background: unset;
    border-radius: unset;
    resize: none;
    &:focus {
      outline: none;
    }
    &:hover {
      border-bottom: 1px solid lightgrey;
    }
  }
  input:hover {
    margin-bottom: -1px;
  }
}

.display {
  &__multiselect {
    width: 100%;
  }
  &__avatarbox.edit:hover:after {
    position: absolute;
    bottom: 15px;
    right: 25px;
    content: 'EDIT';
    color: white;
    text-shadow: 0 0 2px rgba(0, 0, 0, 0.8);
  }
  &__name input {
    text-align: center;
  }
  &__categories {
    .MuiInputBase-root {
      display: flex;
      justify-content: center;
    }
  }
  &__title {
    // textarea {
    text-align: center;
    // }
  }
  &__bullets[class] {
    * {
      transition: all 0.2s;
    }
    input {
      flex-grow: 1;
      margin-left: 1px;
      padding-left: 2px;
      border-radius: 4px;
      &:hover,
      &:focus {
        background: white;
        border: none;
        margin-top: 0px;
        margin-bottom: 0px;
      }
    }
    select {
      width: calc(100% + 7px);
      background: unset;
      border: none;
      margin-left: -7px;
      &:focus {
        outline: none;
      }
      &:hover {
        // border-bottom: 1px solid grey;
        background: white;
      }
    }
  }
  &__bullet {
    display: flex;
    flex-direction: row;
    align-items: center;
    // margin-right: $component-margin/2;
    svg {
      margin: 0 ($component-margin/2);
    }
  }
  &__contributor {
    margin-left: 4px;
  }
  &__location {
    position: relative;
  }
  &__editsocial {
    display: flex;
    flex-direction: column;
    width: 60%;
    max-width: 300px;
    margin-top: 30px;
  }
  &__editsociallink {
    padding: 5px;
    background: #efefef;
    border-radius: 12px;
    display: flex;
    align-items: center;
    input {
      flex-grow: 1;
      margin-left: 10px;
      margin-right: 10px;
    }
    font-size: 1.1em;
    margin-bottom: 10px;
    svg {
      font-size: 1.2em;
      margin: 0 7px;
    }
  }
  &__bio {
    textarea {
      width: 100%;
    }
  }
  &__portfolioimage {
    width: 100%;
  }
  &__portfoliolink {
    display: flex;
    flex-direction: row;
    align-items: center;
    input {
      flex-grow: 1;
    }
    label {
      font-size: 1.1em;
      margin-bottom: -2px;
    }
    svg {
      color: $primary-font-color;
      font-size: 1.2em;
      margin-left: 25px;
      cursor: pointer;
    }
  }
}

.edit {
  .edit--container {
    position: relative;
    display: none;
    margin: 0;
  }
  .edit--right {
    position: absolute;
  }
}

:hover > .edit {
  .edit--container {
    display: inline;
  }
}

.display .edit__button {
  position: absolute;
}

.edit__button {
  background: unset;
  background: $button-blue;
  color: white;
  // position: absolute;
  text-transform: uppercase;
  font-size: 0.9em;
  letter-spacing: 0.5px;
  top: 50px;
  right: 10px;
  padding: 7px 12px;
  border: none;
  border-radius: 5px;
  margin-top: 0px;
  transition: all 0.2s;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.3);
  &:focus {
    outline: none;
  }
  &.saved {
    background: $button-blue;
  }
  &.unsaved {
    background: $button-green;
    cursor: pointer;
    &:hover {
      margin-top: -1px;
      box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
    }
  }
  &.collabbutton {
    right: 30px;
    top: 20px;
    &:hover {
      margin-top: -1px;
      box-shadow: 0 2px 4px 0px rgba(0, 0, 0, 0.3);
    }
  }
  &.invalid {
    background: $button-orange;
  }
}

// Material UI

.MuiAutocomplete-root {
  width: 100%;
}
.MuiInput-underline:before,
.MuiInput-underline:after {
  border-bottom: none !important;
}
.display__categories .MuiInputBase-root :nth-child(n + 4) {
  color: red;
}
.display__skills .MuiInputBase-root :nth-child(n + 6) {
  color: red;
}

// .MuiInput-input:focus {
//   display: inline;
// }

.MuiAutocomplete-option,
.MuiInputBase-root,
.MuiChip-root {
  font-family: 'Source Sans Pro';
}

// Mapbox API autocomplete

.CityAutoComplete-results {
  position: absolute;
  top: 1.5em;
  left: 65px;
  background-color: white;
  padding: 0;
  margin: 0;
  border: 1px solid #00000011;
  z-index: 10;
}

.CityAutoComplete-items {
  list-style: none;
  border: 1px solid #00000011;
  cursor: pointer;
  padding: 10px 10px;
}

.CityAutoComplete-items:hover {
  background-color: #0000ff11;
}
