.feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card-frl {
  width: 90%;
  margin: 15px auto;
  display: flex;
  align-items: center;
  border: lightgrey 1px solid;
  border-radius: 8px;
  height: 150px;
  overflow: hidden;

  &__aside {
    width: 33%;
    margin-right: 12px;
    height: 100%;
    background-position: center center;
    background-size: cover;
  }

  &__title {
    font-size: 1.2rem;
  }

  &__subtitle {
    font-size: 1rem;
    font-weight: 400;
  }

  &__copy {
    font-size: 0.9rem;
    font-weight: 300;
  }
}

.filter-group {
  margin: 15px auto;
}

.skill-tag {
  border: 1px solid lightgrey;
  border-radius: 15px;
  text-align: center;
  margin: 5px;
  padding: 0 10px;
}

// .find().select(field) to remove objects (hassPss)
