@import '/variables';

.feed-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: $Tabs-height - 20px;
  padding: 0 $component-margin;
}

.tabs {
  position: fixed;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
  height: 32px;
  z-index: 10;
  padding: $component-margin * 1.5 ; // TO BE REFACTORED
  background-color: white;
  border-bottom: lightgray 1px solid;

  &__link {
    padding: 10px;
  }

  &__item {
    // padding: $component-margin;
  }

  .tabs--active {
    padding-bottom: 10px;
    border-bottom: black 2px solid;
  }
}

.card {
  width: 100%;
  margin: $component-margin auto;
  display: flex;
  // align-items: center;
  border: lightgrey 1px solid;
  border-radius: 8px;
  min-height: 150px;
  overflow: hidden;

  &__aside {
    min-width: 33%;
    margin-right: 12px;
    // height: 100%;
    background-position: center center;
    background-size: cover;
  }

  &__title {
    font-size: 1.2rem;
  }

  &__subtitle {
    font-size: 1rem;
    font-weight: 400;
  }

  &__copy {
    font-size: 0.9rem;
    font-weight: 300;
  }
}

.filter {
  margin: ($Tabs-height + $component-margin) auto $component-margin;
  // padding: ($Tabs-height + $component-margin) 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;

  &__group {
    padding: 0 24px;
  }

  &__input {
    padding: 4px 8px;
    margin-top: 4px;
    border: none;
    border-radius: 8px;
    width: 100%;
    margin-bottom: $component-margin / 2;
    background-color: $box-info-color;
    transition: all 0.5s ease;

    &:focus {
      outline: none;
    }

    &:hover {
      transform: scale(1.05);
    }
  }

  &__input:not(:nth-child(2)) {
    // margin-top: $component-margin;
  }

  .filter__label {
    color: $secondary-font-color;
    font-size: $detail-text-font-size;
    font-weight: $regular-font-weight;
  }
}
.skill-tag {
  border: 1px solid lightgrey;
  border-radius: 15px;
  text-align: center;
  margin: 5px;
  padding: 0 10px;
}
