@import '/variables';

.form {
  min-height: 380px;
  display: flex;
  flex-direction: column;
  width: 75%;
  margin: 0 auto;

  &__link {
    text-align: center;
    max-width: 45%;
    margin: 0 auto;
    cursor: pointer;
    padding: 10px 0;
  }

  &__title {
    height: 150px;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__label {
    margin-top: 15px;
    font-weight: 600;
  }

  &__input {
    background-color: #f3f3f4;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
  }

  &__button {
    margin: 25px auto;
    border-radius: 25px;
    padding: 5px 25px;
    width: 80%;
    border: none;
    background-color: #05a50088;
    font-weight: 600;
  }
}
