@import '/variables';

.login-container {
  margin: $component-margin $component-margin * 2;
  padding: $component-margin;
  background-color: white;
  border-radius: 16px;
}

.form-login {
  min-height: 300px;
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: 0 auto;

  &__link {
    text-align: center;
    max-width: 100%;
    margin: 0 auto;
    cursor: pointer;
    padding: 10px 0;
  }

  &__link h3 {
    font-weight: $regular-font-weight;
  }

  &__title {
    height: 80px;
    text-align: center;
    // display: flex;
    // flex-direction: column;
    // justify-content: center;
    font-size: 1.2rem;
    width: 230px;
    // margin: ($NavBar-height - $component-margin) auto 0;
    margin: 0 auto;
  }

  &__label {
    margin-top: 15px;
    font-weight: 600;
    color: $secondary-font-color;
  }

  &__input {
    background-color: $box-info-color;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    width: 100%;
    margin: 8px auto $component-margin;
  }

  &__error-msg {
    text-align: center;
    color: red;
    font-weight: $light-font-weight;
    padding: 0;
    margin: 0;
  }

  &__button {
    width: 250px;
    margin: 0 auto 0;
    border-radius: 25px;
    padding: 8px 25px;
    border: none;
    background-color: $secondary-color;
    color: white;
    font-weight: 600;
  }

  &__button-group {
    display: flex;
    justify-content: center;
    flex-direction: column;
  }
}
