@import '/variables';
@import '/Edit';

.message {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  overflow: hidden;
  &__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  &__avatar {
    height: 20px;
    width: 20px;
    border-radius: 10px;
    margin-bottom: -1px;
    margin-right: 4px;
  }
  &__recipient {
    font-size: 1em;
    font-weight: bold;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  &__hidden {
    visibility: hidden;
  }
  &__thread {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
  }
  &__back {
    padding-top: 5px;
    padding-bottom: 5px;
    font-size: 0.8em;
    font-weight: 400;
    text-transform: uppercase;
  }
  &__scrollcontainer {
    display: block;
    overflow: auto;
    flex-grow: 1;
    display: flex;
    justify-content: flex-end;
    // height: 70vh;
  }
  &__onemessage {
    padding: 15px 20px 15px 20px;
    margin-top: 15px;
    border: none;
    min-width: 80%;
    border-radius: 10px;
    &.sent {
      background: $message-sent;
      align-self: flex-end;
      &:last-child {
        border-bottom-right-radius: 0px;
      }
    }
    &.received {
      background: $message-received;
      align-self: flex-start;
      &:last-child {
        border-bottom-left-radius: 0px;
      }
    }
  }
  &__time {
    text-shadow: 0px 0px 1px rgba(0, 0, 0, 0.1);
    color: white;
    font-size: 0.8em;
    font-weight: bold;
  }
  &__compose {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding-bottom: 10px;
  }
  &__textcontainer {
    flex-grow: 1;
    margin-right: 10px;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid $card-border-color;
    background: white;
    box-shadow: 0px -1px 2px 0px inset rgba(0, 0, 0, 0.1);
    // padding: 10px;
    textarea {
      width: 100%;
      border: none;
      &:focus {
        outline: none;
      }
    }
  }
  &__sendmessage {
    border: none;
    background-color: $button-green;
  }
}
