@import '/variables';

.Nav {
  position: fixed;
  left: 0;
  top: 0;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: $component-margin;
  height: $NavBar-height + 1px; // slight overlay to avoid noticeable gap
  z-index: 10;
  box-shadow: $box-shadow;
  // border-bottom: $secondary-font-color 1px solid;

  &__logo {
    font-size: 1.6rem;
  }

  &__list {
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
  }

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
  }

  &__plus-icon {
    font-size: 2.3rem;
    font-weight: 300;
  }

  &__avatar {
    background-position: center center;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 50%;
  }

  &__item {
    margin-left: 30px;
    height: 100%;
    width: 36px;
  }
}

.hamburger-btn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: ($NavBar-height - 2 * $component-margin);
  width: 36px;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 30;
  &:focus {
    outline: none;
  }
  &__line {
    width: 26px;
    height: 2px;
    background: black;
    transition: all ease 0.5s;
  }

  // &__line.animate{}
  &__line.animate:nth-child(1) {
    transform: rotate(45deg) translateY(8px) translateX(8px);
  }

  &__line.animate:nth-child(2) {
    opacity: 0;
    transform: translateX(100%);
  }

  &__line.animate:nth-child(3) {
    transform: rotate(-45deg) translateY(-8px) translateX(8px);
  }
}

.hamburger-menu {
  position: fixed;
  height: 150px;
  width: 36%;
  background: $background-color;
  border-bottom-left-radius: $component-margin;
  // box-shadow: $box-shadow;
  top: $NavBar-height;
  right: 0;
  z-index: 20;
  transform: translateX(130%);
  transition: all 0.3s ease-out;

  &.open {
    transform: translateX(0);
  }

  &__list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
  }
}

.backdrop {
  position: fixed;
  top: $NavBar-height;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  z-index: 20;
  // second backdrop to cover the navbar
  &__secondary {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background: transparent;
    z-index: 40;
  }
}

@media (max-width: 768px) {
  .hamburger__item {
    display: none;
  }
}

@media (min-width: 769px) {
  .hamburger-btn {
    display: none;
  }

  .Nav__item {
    margin-left: 30px;
    height: 100%;
    width: 50px;
  }
}
