$NavBar-height: 56px;
$Tabs-height: 56px;
$component-margin: 16px;
$tag-color: rgb(246, 245, 246);
$box-info-color: rgb(251, 251, 252);
$title-h1-font-size: 2rem;
$title-h2-font-size: 1.4rem;
$title-h3-font-size: 1.2rem;
$bold-font-weight: 600;
$regular-font-weight: 400;
$light-font-weight: 300;
