// spaces, margins
$NavBar-height: 56px;
$Tabs-height: 56px;
$component-margin: 16px;

// color
// $tag-color: rgb(251, 251, 252);
$box-info-color: rgb(251, 251, 252);
$secondary-font-color: rgb(119, 116, 128);
$background-color: white;
$card-border-color: lightgrey;

// font-size
$title-h1-font-size: 2rem;
$title-h2-font-size: 1.4rem;
$title-h3-font-size: 1.2rem;
$detail-text-font-size: 0.9rem;

// font-weight
$light-font-weight: 300;
$regular-font-weight: 400;
$bold-font-weight: 600;
